<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ananananzhuo.livedatademo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LivedataDemo">
        <activity android:name=".livedatawithcoroutiue.CoroutiueLivedataActivity"></activity>
        <activity android:name=".meditorlivedata.MeditorLivedataActivity" />
        <activity android:name=".transformationswitchmap.TransSwitchMapActivity" />
        <activity android:name=".transformationmap.TransMapActivity" />
        <activity android:name=".globallivedata.NotifyGlobalDataWithLivedataActivity" />
        <activity android:name=".countdown.CountDownActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>